<hr id="marquee" />
<p class="marquee clearfix">Tu bodega de caldos de gran calidad, de Cádiz .</p>
<hr id="marquee" />
<header class="cabecera">
  <figure class="clearfix">
    <img 
    class="logo" 
    src="https://github.com/ApprenticeJesus/4ojos_wines_ang/raw/master/src/Logo_cabecera.png" alt="logo" 
    />
  </figure>
  <ul class="menu">
    <li class="elem">
      <a href="index.html" target="_self" rel="bookmark"> Inicio </a>
    </li>
    <li class="elem">
      <a href="./nosotras/nosotras_es.html" target="_self" rel="bookmark">
        Nosotras</a
      >
    </li>
    <li class="elem">
      <a href="./filosofia/filosofia_es.html" target="_self" rel="bookmark">
        Filosofía</a
      >
    </li>
    <li class="elem">
      <a href="./donde/donde_es.html" target="_self" rel="bookmark">
        Dónde estamos</a
      >
    </li>
    <li class="elem">
      <a href="./vinos/vinos_es.html" target="_self" rel="bookmark">
        Nuestros vinos</a
      >
    </li>
    <li class="elem">
      <a href="./vineyard/vineyard_es.html" target="_self" rel="bookmark">
        Las viñas</a
      >
    </li>
    <li class="elem">
      <a href="./tienda/tienda.html" target="_self" rel="noopener noreferrer">
        Tienda</a
      >
    </li>
  </ul>
</header>
